* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.adminform {
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
}

.logo {
    color: #F4FFFD;
    font-family: 'Cookie', cursive;
    font-size: 4.5em;
    text-align: center;
    text-shadow: 0 4px 4px rgba(50, 50, 50, .95);
}

.logo-small {
    color: #19381F;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 0 1px 0px rgba(50, 50, 50, .25);
    padding: 15px 10px;
}

.logo-admin {
    color: #F4FFFD;
    font-size: 2.5em;
    text-align: center;
    text-shadow: 0 1px 0px rgba(50, 50, 50, .25);
    padding: 15px 10px;
}

.login-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background: url(../assets/veggiedisplay.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.login-display {
    background: rgba(255, 255, 255, 0.95) center center fixed;
    margin: 10px;
    border-radius: 10px;
    max-width: 750px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
}

.search-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background: url(../assets/farmer-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.login-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background: url(../assets/veggiedisplay.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

.search-display {
    background: rgba(255, 255, 255, 0.95) center center fixed;
    margin: auto;
    border-radius: 10px;
    max-width: 750px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .25);
}

.search-header {
    background: -webkit-linear-gradient(left bottom, #73BA9B, #63C132);
    background: linear, to right top, #73BA9B, #63C132;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 300;
    font-size: 2.5em;
    color: #73BA9B;
    text-align: center;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.3em;
}


/*.fade.ng-enter {
transition: 0.5s linear all;
opacity: 1;
}

.fade.ng-enter.ng-enter-active {
opacity: 1;
}*/

.search-button {
    font-weight: 400;
    font-size: 1.2em;
    margin: 24px 8px;
}

.map-header {
    background-color: #F7F7F7;
}

.searchbar {
    padding: 0px 10px;
}

.searchbar md-input-container {
    margin-bottom: 0px;
}

.results-display {
    height: 100%;
}

#map {
    height: 100%;
}

.footer {
    margin-top: 100px;
    color: #F4FFFD;
}

.adminbutton {
    margin-top: 10px;
    margin-bottom: 20px;
}

.material-icons.md-light {
    color: rgba(245, 81, 81, 1);
}

.infoWindowContent h3 {
    -webkit-margin-before: .5em;
    -webkit-margin-after: 1em;
    font-size: 1.33em;
}

.infoWindowContent h4 {
    -webkit-margin-before: 1em;
    -webkit-margin-after: .5em;
    font-size: 1.1em;
}

.infoWindowContent p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 1em;
    font-size: 1.2em;
}

.welcome {
    color: blue;
}

.retrieval-display {
    border-color: lightblue;
    border-radius: 15px;
    border: 2px solid;
    padding: 10px;
}

.form-output {
    font-family: sans-serif;
    color: gray;
    padding: 2em;
    padding-bottom: auto;
}

.alertbox {
    color: red;
}

button {
    margin: 20px;
    color: #FFFFFF;
    background-color: #f4511e;
    text-align: center;
    display: inline-block;
}

.editKey {
    font-weight: bold;
    font-family: Optima;
    font-size: 18px;
}

.checkmark {
    width: 200px;
    margin: 0 auto;
    padding-top: 40px;
}

.path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 0;
    animation: dash 2s ease-in-out;
    -webkit-animation: dash 2s ease-in-out;
}

.spin {
    animation: spin 2s;
    -webkit-animation: spin 2s;
    transform-origin: 50% 50%;
    -webkit-transform-origin: 50% 50%;
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 1000;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

.selected-market~.market .user,
.market:first-child .user {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.selected-market~.market .user.selected,
.market:first-child .user.selected {
    margin-top: 0;
}

.market:last-child .user {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.market .tile .folded {
    cursor: pointer;
}

.market .user {
    background-color: white;
    transition: all 500ms;
}

.market .user h3,
.market .user p {
    transition: all 500ms;
}

.market .user p {
    opacity: 1;
    height: inherit;
}

.market .user p.ng-hide {
    opacity: 0;
    height: 0;
}

.market .user.selected {
    margin: 30px -15px;
    border-radius: 2px;
}

.market .user.selected .expanded {
    visibility: hidden;
}

.market .user.selected .expanded,
.market .user.selected .expanded>* {
    max-height: 700px;
    opacity: 1;
}

.market .user.selected .expanded .md-label {
    border: hidden;
}

.market .user.selected h3 {
    font-size: 1.8em;
}

.market .user .expanded {
    visibility: hidden;
}

.market .user .expanded,
.market .user .expanded>* {
    max-height: 0;
    opacity: 0;
    transition: all 500ms;
}

.market .user .expanded .split {
    padding: 10px;
}

.market .user .face {
    border-radius: 30px;
    border: 1px solid #ddd;
    width: 48px;
    height: 48px;
    margin: 16px;
}