body {
  /*background: url(../assets/farmer-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.logo {
  color: #F4FFFD;
  font-family: 'Cookie', cursive;
  font-size: 3em;
  text-align: center;
  /*height: 50px;*/
  text-shadow: 0 4px 4px rgba(50, 50, 50, .95);
  /*background: rgba(#f2f3fc, 0.82) center center fixed;*/
  /*margin-top: 50px;
  margin-bottom: 50px;*/
}

.logo-small {
  color: #19381F;
  font-size: 2.5em;
  text-align: center;
  text-shadow: 0 1px 0px rgba(50, 50, 50, .25);
  padding: 15px 10px;
}

.search-container {
  display: flex;
  justify-content: flex-start;;
  align-items: center;
  flex-direction: column;
  /*flex-wrap: wrap;*/
  font-family: 'Open Sans', sans-serif;
  background: url(../assets/farmer-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

.search-display {
  background: rgba(255, 255, 255, 0.95) center center fixed;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 750px;
  /*display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;*/
  box-shadow: 0 1px 3px 0 rgba(0,0,0,.25);
}

.search-header {
  background: -webkit-linear-gradient(left bottom, #73BA9B, #63C132);
  background: linear, to right top, #73BA9B, #63C132;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 300;
  font-size: 2.5em;
  font-color: #73BA9B;
  text-align: center;
}

.search-button {
  font-weight: 400;
  font-size: 1.2em;
  /*display: flex;
  align-content: center;;
  justify-content: center;*/
  /*background: -webkit-linear-gradient(left bottom, #f6682F, #FFB729);
  background: linear, to right top, #f6682F, #FFB729;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 200;
  color: #f6682F;*/
  /*text-align: center;*/
}

.map-header {
  background-color: #F7F7F7;
}

.searchbar {

}

.results-display {
  height: 100%;
}

#map {
  height: 100%;
}

.infoWindowContent {

}

.infoWindowContent h3 {
  -webkit-margin-before: .5em;
  -webkit-margin-after: 1em;
  font-size: 1.33em;
}

.infoWindowContent h4 {
  -webkit-margin-before: 1em;
  -webkit-margin-after: .5em;
  font-size: 1.1em;
}

.infoWindowContent p {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 1em;
  font-size: 1.2em;
}

.welcome {
  color: blue;
}

.retrieval-display {
  border: dotted;
}

.form-output {
  font-family: sans-serif;
  color: gray;
  padding: 2em;
  padding-bottom: auto;

}
