<div class="logo logo-small">
      City Sprout
</div>


<div><h2>Welcome, Admin!</h2></div>

                        <!--initial 'Enter Farm ID' form -->

<form ng-submit = "retrieveMarket()">
    <h3>Update an existing farm</h3>
    <h4 class = welcome >Enter Farm ID</h4>
    <input type="text" placeholder= "id" ng-model="marketID">
    <br>
    <div class= alertbox ng-show ="alertView === true">Please enter a valid Farm ID</div>
    <br />
    <input type="submit" value="Submit" />
    <br />
    <br />
</form>

<div class="checkmark" ng-show= "successView===true">
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 161.2 161.2" enable-background="new 0 0 161.2 161.2" xml:space="preserve">
<path class="path" fill="none" stroke="#7DB0D5" stroke-miterlimit="10" d="M425.9,52.1L425.9,52.1c-2.2-2.6-6-2.6-8.3-0.1l-42.7,46.2l-14.3-16.4
  c-2.3-2.7-6.2-2.7-8.6-0.1c-1.9,2.1-2,5.6-0.1,7.7l17.6,20.3c0.2,0.3,0.4,0.6,0.6,0.9c1.8,2,4.4,2.5,6.6,1.4c0.7-0.3,1.4-0.8,2-1.5
  c0.3-0.3,0.5-0.6,0.7-0.9l46.3-50.1C427.7,57.5,427.7,54.2,425.9,52.1z"/>
<circle class="path" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" cx="80.6" cy="80.6" r="62.1"/>
<polyline class="path" fill="none" stroke="#7DB0D5" stroke-width="6" stroke-linecap="round" stroke-miterlimit="10" points="113,52.8 
  74.1,108.4 48.2,86.4 "/>

<circle class="spin" fill="none" stroke="#7DB0D5" stroke-width="4" stroke-miterlimit="10" stroke-dasharray="12.2175,12.2175" cx="80.6" cy="80.6" r="73.9"/>

</svg>
  
<p>Update Successful!</p>
</div>





                      <!--display of retrieved farm-->
<div class = "retrieval-display" ng-show= "singleObjView===true">
  <form editable-form name="editableForm">
    <div>
      <!-- editable farm name -->
      <span class="editKey">Farm Name </span>
      <span editable-textarea="singleObj.data.Name" e-name="Name" e-required><li>{{ singleObj.data.Name || 'empty' }}</li></span>
    </div> 
    <br />
    <div>
      <!-- editable address  -->
      <span class="editKey">Address </span>
      <span editable-textarea="singleObj.data.Address" e-name="Address" e-required><li>{{ singleObj.data.Address || 'empty' }}</li></span>
    </div>
    <br /> 
    <div>
      <!-- editable coordinates  -->
      <span class="editKey">Longitude Coordinate </span>
      <span editable-text="singleObj.data.geometry.coordinates[0]" e-name="Longitude" e-required><li>{{ singleObj.data.geometry.coordinates[0] || 'empty' }}</li></span>
    </div>
    <div>
      <span class="editKey">Latitude Coordinate </span>
      <span editable-text="singleObj.data.geometry.coordinates[1]" e-name="Latitude" e-required><li>{{ singleObj.data.geometry.coordinates[1] || 'empty' }}</li></span>
    </div>
    <br />
    <div>
      <!-- editable products  -->
      <span class="editKey">Products </span>
      <span editable-textarea="singleObj.data.Products" e-name="Products" e-required><li>{{ singleObj.data.Products || 'empty' }}</li></span>
    </div>
    <br /> 
    <div>
      <!-- editable schedule  -->
      <span class="editKey">Schedule </span>
      <span editable-textarea="singleObj.data.Schedule" e-name="Schedule" e-required><li>{{ singleObj.data.Schedule || 'empty' }}</li></span>
    </div> 
    <br />
    <div>
      <!-- editable GoogleLink  -->
      <span class="editKey">GoogleLink </span>
      <span editable-textarea="singleObj.data.GoogleLink" e-name="GoogleLink" e-required><li>{{ singleObj.data.GoogleLink || 'empty' }}</li></span>
    </div> 
    <br />
    <div>
    <!-- non-editable ID  -->
      <span class="editKey">ID </span>
      <span><li>{{ singleObj.data._id}}</li></span>
    </div> 

                       <!-- button to show form -->
    <button type="button" class="btn btn-default" ng-click="editableForm.$show()" ng-show="!editableForm.$visible">
      Edit
    </button>

                 <!-- buttons to submit or delete market data -->
    <button type="button" class="btn btn-default" ng-click="submitUpdate()" ng-show="!editableForm.$visible">
      Submit
    </button>

    <button type="button" class="btn btn-default" ng-click="deleteMarket()" ng-show="!editableForm.$visible">
      DELETE MARKET
    </button>

                    <!-- buttons to save / cancel form -->
    <span ng-show="editableForm.$visible">
      <button type="submit" class="btn btn-primary" ng-disabled="editableForm.$waiting">
        Save
      </button>
      <button type="button" class="btn btn-default" ng-disabled="editableForm.$waiting" ng-click="editableForm.$cancel()">
        Cancel
      </button>
    </span>
  </form>  <!--Form ends-->
</div> <!--Retrieval display ends-->








