<!-- here is the login html template -->
<div class="login-container">
    <header class="logo">
        <h1>City Sprouts</h1>
    </header>

    <main class="login-display">
        <h1 class="search-header">Enter Admin Credentials to Make Changes</h1>

        <form ng-submit="submit();" name="loginForm">
            <div layout="column">

                <md-input-container flex>
                    <label>Username</label>
                    <input type="text" ng-model="username" />
                </md-input-container>

                <md-input-container flex>
                    <label>Password</label>
                    <input type="password" ng-model="password" />
                </md-input-container>

                <md-button type="submit" class="search-button md-raised md-primary">Login</md-button>
            </div>
        </form>
    </main>
</div>
