<div>

  <header class="map-header" layout="row">
    <div class="logo logo-small">
      City Sprout
    </div>
    <div class="searchbar">
      <form ng-submit="submit()">
        <input type="text" ng-model="address"/>
      </form>
    </div>
  </header>

</div>

<div layout="row">

  <section flex="35" layout="column">

    <md-content>
      <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="market in results">
          <div class="md-list-item-text" layout="row">
            <div>
              <h3>{{$index + 1}}.&ensp;</h3>
            </div>
            <div layout="column">
              <h3>{{ market.marketdetails.Name }}</h3>
              <p>{{ market.marketdetails.Address }}</p>
              <p>{{ market.marketdetails.Schedule }}</p>
            </div>
          </div>
        </md-list-item>
      </md-list>
    </md-content>

    <!-- <div class-"md-padding">
      <div class="md-padding"ng-repeat="market in results | filter:1 | filter:2 | orderBy">
        <div layout="row">
          <div>{{$index + 1}}</div>
          <div>{{ market.marketdetails.Name }}</div>
        </div>
        <div layout="column">
          <div>{{ market.marketdetails.Address }}</div>
          <div>{{ market.marketdetails.Schedule }}</div>
        </div>
      </div>

      <md-content>
      <md-list flex>
        <md-subheader class="md-no-sticky">3 line item (with hover)</md-subheader>
        <md-list-item class="md-3-line" ng-repeat="item in todos" ng-click="null">
          <img ng-src="{{item.face}}?{{$index}}" class="md-avatar" alt="{{item.who}}" />
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.who }}</h3>
            <h4>{{ item.what }}</h4>
            <p>{{ item.notes }}</p>
          </div>
        </md-list-item>
        <md-divider ></md-divider>

    </div> -->
  </section>

  <div name="map" flex="65">

  </div>
</div>
