<div class="search-container">
  <!-- Logo -->
  <header class="logo">
    <h1>City Sprouts</h1>
  </header>
  <!-- Search Display -->
  <main class="search-display">
    <div class="search-header">Enter your location to find a farmers market near you</div>
      <form ng-submit="submit()" name="searchForm">
        <div class="md-padding" layout="row" layout-align="end">

          <md-input-container flex="80">
            <!-- <label>Address</label> -->
            <md-icon class="material-icons md-48"> search </md-icon>
            <input id="searchTextField" type="text" ng-model="address" aria-label="searchLabel">
          </md-input-container>

          <md-input-container flex="20">
            <label>Radius (Miles)</label>
            <input type="number" name="radius" min="1" max="20" ng-model="radius"/>
          </md-input-container>

          <md-button type="submit" class="search-button md-raised md-primary">Search</md-button>
        </div>
      </form>



  </main>
  <footer class="md-padding footer">
    <div>
      Made with <span><md-icon class="material-icons md-light"> favorite </md-icon></span> by Array Like Alligators
    </div>
    <!-- Need a button here for admin to go to login page -->
    <div class="adminbutton" layout="row" layout-align="center">
      <md-button ng-hide="user" ng-click="redirectToLogin();" class="md-raised md-primary ">User Login</md-button>
      <md-button ng-hide="user" ng-click="redirectToSignup();" class="md-raised md-primary ">User Signup</md-button>
      <!-- <md-button ng-click="redirectToAdminLogin();" class="md-raised md-primary ">Admin Login</md-button> -->
      <md-button ng-show="user" ng-click="redirectToProfile();" class="md-raised md-primary ">Your Profile</md-button>
      <md-button ng-show="user" ng-click="logout();" class="md-raised md-primary ">Logout</md-button>
    </div>
  </footer>
</div>
