<div class="search-container">
  <header>
    <h1>Sprouts City</h1>
  </header>
  <main class="search-display">
    <h1 class="search-header">Enter Your Location To Find Farmer's Markets Around You</h1>
      <form ng-submit="submit()" name="searchForm">
        <div layout="row">
          <md-input-container flex>
            <label>Location</label>
            <input type="text" ng-model="address">
          </md-input-container>

          <md-button type="submit" class="search-button md-raised md-primary">Search</md-button>
        </div>
      </form>
  </main>
</div>
<footer>
</footer>
