<div class="search-container">
  <header class="logo">
    <h1>Sprout City</h1>
  </header>
  <main class="search-display">
    <div class="search-header">Enter your location to find a farmers market near you</div>
      <form ng-submit="submit()" name="searchForm">
        <div class="md-padding" layout="row" layout-align="end">

          <md-input-container flex="80">
            <label>Address</label>
            <input type="text" ng-model="address">
          </md-input-container>

          <md-input-container flex="20">
            <label>Radius (Miles)</label>
            <input type="number" name="radius" min="1" max="20" ng-model="radius"/>
          </md-input-container>

          <md-button type="submit" class="search-button md-raised md-primary">Search</md-button>
        </div>
      </form>
  </main>
  <footer>
  </footer>
</div>
